<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naram.ewoman_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ewoman"
        android:label="ewoman"
        android:roundIcon="@mipmap/ic_launcher_ewoman_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".eProductActivity"></activity>
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".OurstoryActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".eCollegeActivity" />
        <activity android:name=".mem_SignupAgreementActivity" />
        <activity android:name=".mem_SignupFormActivity" />
        <activity android:name=".mem_SignupActivity" />
        <activity android:name=".mem_LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>